<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name = "author" content = "Anna Lin">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content "Anna Lin's Professional Website">
    <title>Anna Lin</title>
</head>
<body>
    <header> 
        <h1 id="webname">Anna Lin</h1>
        <nav>
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="contact.html">contact</a>
            <a href="fun.html">extracurriculars</a></nav>
    </header>
    <!-- <p>don't worry Anna! it is all good!</p> -->
    <div>
        <main>
            <h2>Things I love to do for fun</h2>
            <ul>
                <li>choreographing dance pieces</li>
                <li>playing the flute</li>
                <li>hanging out with friends and family</li>
                <li>exploring interests through coding and organizing STEM activities</li>
            </ul>
            <footer>© 2025 designed and coded by Anna Lin</footer>
        </main>
    </div>
    
</body>
</html>