<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    
    <script src="../static/template.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/template.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name = "author" content = "Anna Lin">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content "Anna Lin's Professional Website">
    <title>Anna Lin</title>

</head>
<body onload = "addYear()">
    <header class="header">
        <h1 id="webname">Anna Lin</h1>
    </header>
    
    <nav class="nav">
        <div id="nav-links">
            <a class="nav-link" href="../template.html">about</a>
            <a class="nav-link" href="cv.html">resume</a>
            <a class="nav-link" href="contact.html">contact</a>
            <a class="nav-link" href="fun.html">extracurriculars</a>
        </div>
    </nav>
    <!-- <p>don't worry Anna! it is all good! </p> -->
    <div class = "content-wrapper">
        <div class = "left-column">
            <h2>Find Me</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4068.355658701668!2d-79.94550947326427!3d40.44338915401518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f221b84e61fd%3A0xcf8225e51a92f1a1!2sThe%20Cut%2C%205000%20Forbes%20Ave%2C%20Pittsburgh%2C%20PA%2015213!5e1!3m2!1sen!2sus!4v1742779098726!5m2!1sen!2sus" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" r
                eferrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <!-- <iframe
                class = "googleMap"
                src="https://www.google.com/maps/place/The+Cut,+5000+Forbes+Ave,+Pittsburgh,+PA+15213/@40.4433892,-79.9455095,934m/data=!3m2!1e3!4b1!4m6!3m5!1s0x8834f221b84e61fd:0xcf8225e51a92f1a1!8m2!3d40.4432711!4d-79.9428789!16s%2Fg%2F11bvtdd3y0?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoASAFQAw%3D%3D"
                allowfullscreen 
                loading="lazy"
                referrerpolicy="no-referrer-when-cross-origin">
            </iframe> -->
            <br><br> 
            <h2>Contact Information</h2>

            <table>
                <br><br> 
                
                <tr>
                    <td>Email:</td>
                    <td>annalin@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>+1 (949) 531-8807</td>
                </tr>
                <tr>
                    <td>LinkedIn:</td>
                    <td>https://www.linkedin.com/in/anna-lin888/</td>
                </tr>
            </table>
            <br><br> 
        </div>
            
        <div class = "right-column">
            <h2>Contact Me</h2>
            <form id = "contactForm" action="submit_form.php" method="post">
                <label for = "name">Name (required):</label>
                <input type = "text" id="name" name="name" required><br><br>
                <span class = "error-message" id = "nameError"></span>

                <label for = "email">Email (required):</label>
                <input type = "email" id="email" name="email" required><br><br>
                <span class = "error-message" id = "emailError"></span>

                <label for="comment">Your comment (required):</label>
                <textarea type="comment" id="comment" name="comment" rows = "4" cols = "30"></textarea><br><br>
                <span class = "error-message" id = "commentError"></span>

                <input type="submit" value="Submit" id = "submitButton">
            </form>
            <p class = "form-note">Please fill out the form correctly so I can get back to you :D</p>
            
            
        </div>
    </div>
    <footer>
        <p id = "copyYear"></p>
    </footer>
    
</body>
</html>