<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name = "author" content = "Anna Lin">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content "Anna Lin's Professional Website">
    <title>Anna Lin</title>
</head>
<body onload = "addYear()">
    <header> 
        <h1 id="webname">Anna Lin</h1>
        <nav>
            <a href="../template.html">about</a>
            <a href="cv.html">resume</a>
            <a href="contact.html">contact</a>
            <a href="fun.html">extracurriculars</a></nav>
    </header>
    <!-- <p>don't worry Anna! it is all good!</p> -->
    <div class = "content-wrapper">
        <div class = "left-column">
            <div class = "item1">
                <h2>Things I love to do for fun</h2>
                <!-- <button id = "showListButton" onclick = "showList()">Click to see...</button> -->
                <ul id = "funList">
                    <li>choreographing dance pieces</li>
                    <li>playing the flute</li>
                    <li>hanging out with friends and family</li>
                    <li>exploring interests through coding and organizing STEM activities</li>
                </ul>
            </div>
            <div class = "item3">
                <p>My favorite KPDC Performance I've performed in! </p>
                <iframe 
                    class = "funVideo"
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/yQOXx18Y3XQ" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class = "right-column">
            <div class = "item2">
                <p>Playing the Flute at Carnegie Music Hall!</p>
                <img class="funIMG" src="../static/playingFlute.png" alt = "A fun activity I enjoy">
            </div>

            <div class = "item4">
                <p>Need Some Advice?</p>
                <div class = "container">
                    <p id = "adviceText">Click the button to get a random piece of advice!</p>
                    <button class = "adviceButton" onclick = "getAdvice()">Get Advice</button>
                </div>
            </div>
        </div>    
    </div>
    <footer>
        <p id = "copyYear"></p>
    </footer>
    
</body>
</html>