<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name = "author" content = "Anna Lin">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content "Anna Lin's Professional Website">
    <title>Anna Lin</title>

</head>
<body onload = "addYear()">
    <header> 
        <h1 id="webname">Anna Lin</h1>
        <nav><a href="../index.html">about</a>
             <a href="cv.html">resume</a>
             <a href="contact.html">contact</a>
             <a href="fun.html">extracurriculars</a></nav>
    </header>
    <!-- <p>don't worry Anna! it is all good! </p> -->
    <div class = "content-wrapper">
        <div class = "left-column">
            <h2>Find Me</h2>
            <iframe
                class = "googleMap"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345093704!2d-122.41941548468198!3d37.77492927975917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809c5f8e10ab%3A0x4c7e5f6e4e7a31!2sSan%20Francisco%2C%20CA!5e0!3m2!1sen!2sus!4v1647965288564!5m2!1sen!2sus"
                allowfullscreen 
                loading="lazy"
                referrerpolicy="no-referrer-when-cross-origin">
            </iframe>

            <table>
                <br><br> 
                <br><br> 
                <tr>
                    <td>Email:</td>
                    <td>annalin@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>+1 (949) 531-8807</td>
                </tr>
                <tr>
                    <td>LinkedIn:</td>
                    <td>https://www.linkedin.com/in/anna-lin888/</td>
                </tr>
            </table>
            <br><br> 
        </div>
            
        <div class = "right-column">
            <h2>Contact Me</h2>
            <form id = "contactForm" action="submit_form.php" method="post">
                <label for = "name">Name (required):</label>
                <input type = "text" id="name" name="name" required><br><br>
                <span class = "error-message" id = "nameError"></span>

                <label for = "email">Email (required):</label>
                <input type = "email" id="email" name="email" required><br><br>
                <span class = "error-message" id = "emailError"></span>

                <label for="comment">Your comment (required):</label>
                <textarea type="comment" id="comment" name="comment" rows = "4" cols = "30"></textarea><br><br>
                <span class = "error-message" id = "commentError"></span>

                <input type="submit" value="Submit" id = "submitButton">
            </form>
            <p class = "form-note">Please fill out the form correctly so I can get back to you :D</p>
            <h3>Contact Information</h3>
            
        </div>
    </div>
    <footer>
        <p id = "copyYear"></p>
    </footer>
    
</body>
</html>